
* {
    background-color: #C6D8D3;
}

.header {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: auto;
    height: auto;
}
.logo__image {
    object-fit: cover;
    max-width: 400px;
    width: 100%;
    
}

.main__body {
    /* border: solid blue 1px; */
   
    display: flex;
    flex-direction: column;
}

.main {
    /* border: solid red 1px; */
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parks {
    display: flex;
    justify-content: center;
}

.parks__list {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid: 250px / auto auto auto;
    
    /* width: 100%; */
}



.park-card {
    display: flex;
    margin: 1em 20px;
    justify-content: center;
    max-width: 20em;
    flex-direction: column;
    flex-basis: 33.333333%;
    border-radius: 25px;
    border: 2px solid #FFB140;
    padding: 20px;
    width: 250px;
    height: 200px;
    box-shadow: 1px 5px 5px rgb(9, 9, 9); 
    background-color: #FDF0D5;
}

.main__guest {
    display: flex;
    margin: 1em 20px;
    align-items: center;
    flex-direction: column;
    flex: 2;
    font-family: 'Paytone One', sans-serif;
    justify-content: center;
    max-width: 20em;
    flex-direction: column;
    flex-basis: 33.333333%;
    border-radius: 25px;
    border: 2px solid #FFB140;
    padding: 20px;
    width: 250px;
    height: 450px;
    box-shadow: 1px 5px 5px rgb(9, 9, 9);
    background-color: #FDF0D5
}

.footer {
    display: flex;
    align-items: flex-end;
    /* align-items:center;
  justify-content: center;
  text-align: center;*/
    margin-top: auto;
    justify-content: center;
    justify-content: space-evenly;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #98473E;
    color: #FDF0D5;
}

.destination-card-service-list {
    background-color: #FDF0D5;
}
.park-name {
    background-color: #FDF0D5;
    color: #50723C;
}
.serve {
    background-color: #FDF0D5;
}
